.container_error {
    display: flex;
    margin: auto;
    align-items: center;
    flex-direction: column;
}

.forbidden {
    width: auto;
    height: 15vh;
    padding-bottom: 3vh;
}

.disabled {
    pointer-events: none !important;
    transition: 100s;
    opacity: .5 !important;
}

.popup {
    display: flex;
    margin: 2vh auto;
    padding: 2vh 2vw;
    background: lightgreen;
    border-radius: 20px;
    align-items: center;
}

.popup>span {
    font-weight: bold;
    margin-left: .5vw;
}

.popup.warning {
    background: #ec7063;
}

.popup.info {
    background: #00fff2;
}

.invisible {
    display: none !important;
}

.fit {
    justify-content: center;
    width: fit-content;
}

#message {
    display: none;
}

.valid {
    color: green;
}

.valid:before {
    margin-right: 5px;
    left: -35px;
    content: "✔️";
}

.invalid {
    color: red;
}

input.invalid {
    box-shadow: none;
    border: 2px solid rgba(255, 0, 0, .5) !important;
}

.invalid:before {
    margin-right: 5px;
    left: -35px;
    content: "❌";
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.sendBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin-left: 1vw;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.pointer {
    cursor: pointer !important;
}

.guestmode {
    top: 0;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    width: 100%;
    z-index: 100;
    background-color: #ffee02;
    position: fixed;
}

.pwdicon {
    margin-left: -30px !important;
    cursor: pointer;
    margin: auto;
}