.lang-menu {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
}

.lang {
    margin: auto;
}

.selected-lang {
    width: 100%;
    display: flex;
    height: 60px;
}

.lang-menu ul {
    display: none;
    background-color: #fff;
    margin-left: 0.5vw;
    padding: 2px 6px;
    border-radius: 10px;
    position: absolute;
}

.lang-menu:hover ul {
    display: flex;
    flex-direction: column;
}

.lang-menu:hover img {
    cursor: pointer;
}

.lang-menu img {
    margin: auto !important;
    width: 30px !important;
    height: auto !important;
}

.lang-menu a {
    background: none !important;
    font-size: .7rem;
}

.lang-menu .links_name {
    display: none;
}

.sidebar.open .lang-menu .links_name {
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.lang-menu ul img {
    padding-right: 10px;
}

.text-white {
    color: #fff !important;
}

.mw{
    width: 40vw !important;
}