@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    /*BACKGROUNDS VERSIONNING*/
    background: #4b6cb7;
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    background: linear-gradient(to right, #182848, #4b6cb7);
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
}

img {
    /* width: auto; */
    height: 2vh;
}

p {
    color: #fff;
}

h2 {
    color: #fff;
    padding-top: 4vh;
    font-size: 4vh;
    margin: auto;
    font-family: 'Nunito', sans-serif;
}

h4 {
    align-self: center;
    margin: 0;
}

.list_item_img {
    height: auto;
    width: 50px;
    margin-left: auto;
}

.box {
    width: 600px;
}

.box h2 {
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.box ul {
    background-color: #f7fafc;
    position: relative;
    margin: 0;
}

.box ul li {
    padding: 10px;
    width: 100%;
    display: flex;
    list-style: none;
    transition: transform 0.5s;
}

.box a {
    color: black;
    display: flex;
    margin: auto;
    align-items: center;
}

.box ul:hover li {
    opacity: .2;
}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #38538C;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
}

.box ul li .pos {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #38538C;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
}

.box ul li:hover .pos {
    background: #fff;
    color: #25bcff;
}

.box ul li form {
    cursor: pointer;
}

.reservation_state {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.reservation_state p {
    color: black;
}

textarea {
    height: 20vh;
    width: 30vw;
}