ErrorDocument 404 /errors/404-nolang.html
ErrorDocument 405 /errors/405-nolang.html
ErrorDocument 500 /errors/500.html

Options -Indexes
DirectoryIndex index.php

php_value upload_max_filesize 15M
php_value post_max_size 15M

RewriteEngine On
RewriteBase /www/arnoux23u/mywishlist/
RewriteCond %{HTTP:Authorization} .+
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteRule ^docs(/.*|)$ - [NC,F]
RewriteRule ^docker(/.*|)$ - [NC,F]
RewriteRule ^docker-compose.yml$ - [NC,F]
RewriteRule ^sql(/.*|)$ - [NC,F]
RewriteRule ^src(/.*|)$ - [NC,F]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]